@use "../mixins/mixins-master" as *;
@use "variables" as *;

h1, h2, h3, h4, h5, h6, .read-next span {
	clear: both;
    padding: 0;
    overflow-wrap: break-word;
}

h1 {
    @include font-size(2.4);
    margin: 1em 0;
    line-height: 1.3;
}

.h1 {
    @include font-size(2.4);
}

.page-title {
    margin-bottom: 52px;
    margin-top: 0;
}

h2 {
    @include font-size(1.75);
    line-height: 1.4;
}

h3 {
    @include font-size(1.375);
    line-height: 1.4;
}

h4 {
    @include font-size(1.125);
}

h2, h3, h4, h5, h6, .read-next span {
    margin: 0 0 .5em 0;
}

h5,
.read-next span {
    color: var(--color-text-secondary);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
}

p {
	margin-bottom: 1.5em;
    margin-top: 0;
    font-size: 16px;
    overflow-wrap: break-word;
}

dfn, cite, em, i {
	font-style: italic;
}


address {
	margin: 0 0 1.5em;
}

pre {
	background-color: var(--color-bg-secondary);
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
    border-radius: 4px;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
    background-color: var(--color-bg-secondary);
    padding: 3px 4px;
    border-radius: 2px;
}

abbr, acronym {
	border-bottom: 1px dotted var(--color-text-secondary);
	cursor: help;
}

mark, ins {
	background: var(--color-highlight);
	text-decoration: none;
}

big {
	font-size: 125%;
}
